<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<title>Exercice</title>
	</head>
	<body>
		<div class="cuerpo">
			<?php if(!empty($this->data)):?>
				<table class="table table-striped">
					<tr>
						<th>
							Name
						</th>
						<th>
							phone
						</th>
						<th>
							Address
						</th>
					</tr>
				<?php foreach ($this->data as $key => $value): ?>
					<tr>
						<td>
							<?php echo $value['name']; ?>
						</td>
						<td>
							<?php echo $value['phone']; ?>
						</td>
						<td>
							<?php echo $value['street']; ?>
						</td>
					</tr>
				<?php endforeach; ?>
				</table>
			<?php endif; ?>
		</div>
	</body>
</html>