<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<title>Exercice</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<?php if(!empty($this->data)):?>
					<table class="table table-striped">
						<tr>
							<th>
								Name
							</th>
							<th>
								phone
							</th>
							<th>
								Address
							</th>
							<th>
								options
							</th>
						</tr>
					<?php foreach ($this->data as $key => $value): ?>
						<tr>
							<td>
								<?php echo $value['name']; ?>
							</td>
							<td>
								<?php echo $value['phone']; ?>
							</td>
							<td>
								<?php echo $value['street']; ?>
							</td>
							<td>
								<a class="glyphicon glyphicon-pencil" href="/edit/<?php echo $value['id'];  ?>"></a>
								<a class="glyphicon glyphicon-trash btnDelete" href="/delete/<?php echo $value['id'];  ?>"></a>
							</td>
						</tr>
					<?php endforeach; ?>
						<tr>
							<td colspan="4">
								<a class="btn btn-default" href="/newRow">Add new</a>
							</td>
						</tr>
					</table>
				<?php endif; ?>
			</div>
		</div>
	</body>
</html>