<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<title>Exercice</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<?php if(!empty($this->data)):?>
					<form class="form-horizontal" action="/edit/<?php echo $this->data[0]['id']; ?>" method="POST" enctype="multipart/form-data" id="form1">
						<table>
						<?php foreach ($this->data as $key => $value): ?>
							<tr>
								<td>
									Name: 
								</td>
								<td>
									<input value="<?php echo $value['name']; ?>" class="form-control" type="text" name="name" id="name">
								</td>
							</tr>
							<tr>
								<td>
									phone: 
								</td>
								<td>
									<input value="<?php echo $value['phone']; ?>" class="form-control" type="text" name="phone" id="phone">
								</td>
							</tr>
							<tr>
								<td>
									street: 
								</td>
								<td>
									<input value="<?php echo $value['street']; ?>" class="form-control" type="text" name="street" id="street">
								</td>
							</tr>
							<tr>
								<td>
									 <button type="submit" class="btn btn-default">Save</button>
								</td>
								<td>
									<a class="btn btn-default" href="/address">Return</a>
								</td>
							</tr>
						<?php endforeach; ?>
						</table>
					</form>
				<?php endif; ?>
			</div>
		</div>
	</body>
</html>