<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<title>Exercice</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<form class="form-horizontal" action="/newRow" method="POST" enctype="multipart/form-data" id="form1">
					<table>
						<tr>
							<td>
								Name: 
							</td>
							<td>
								<input placeholder="insert name..." class="form-control" type="text" name="name" id="name">
							</td>
						</tr>
						<tr>
							<td>
								phone: 
							</td>
							<td>
								<input placeholder="insert phone..." class="form-control" type="text" name="phone" id="phone">
							</td>
						</tr>
						<tr>
							<td>
								street: 
							</td>
							<td>
								<input placeholder="insert street..." class="form-control" type="text" name="street" id="street">
							</td>
						</tr>
						<tr>
							<td>
								 <button type="submit" class="btn btn-default">Create</button>
							</td>
							<td>
								<a class="btn btn-default" href="/address">Return</a>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</body>
</html>